<div class="row p-3">
  <div class="col-12 col-md-6 col-lg-3">
    <b>Men</b>
    <ul>
      <li>Shoes</li>
      <li>Accessories</li>
      <li>Shirts</li>
      <li>Jeans</li>
      <li>Watches</li>
    </ul>
    <b>Indian & Festive Wear</b>
    <ul>
      <li>Kurtas & Kurta Sets</li>
      <li>Accessories</li>
    </ul>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <b>Women</b>
    <ul>
      <li>Shoes</li>
      <li>Accessories</li>
      <li>Shirts</li>
      <li>Jeans</li>
      <li>Watches</li>
      <li>Watches</li>
      <li>Watches</li>
      <li>Watches</li>
    </ul>
    <b>Western Wear</b>
    <ul>
      <li>Dresses</li>
      <li>Jumpsuits</li>
    </ul>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <b>Footer</b>
    <ul>
      <li>Shoes</li>
      <li>Accessories</li>
      <li>Shirts</li>
      <li>Jeans</li>
    </ul>
    <b>Product Features</b>
    <ul>
      <li>360 Product Viewer</li>
      <li>Product with Video</li>
    </ul>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <b>Kids</b>
    <ul>
      <li>Shoes</li>
      <li>Accessories</li>
      <li>Shirts</li>
      <li>Jeans</li>
      <li>Jeans</li>
    </ul>
  </div>
</div>
