<div
  class="vh-100 d-flex flex-column align-items-center justify-content-center"
>
  <div class="m-auto" style="width: 70%">
    <div
      [routerLink]="['/authentication/login']"
      class="back w-100 d-flex justify-content-start align-items-center gap-2"
    >
      <i class="fa-solid fa-angle-left"></i>
      <p class="m-0 p-0">Back</p>
    </div>

    <div class="d-md-none d-block w-75 mb-5 m-auto">
      <ng-lottie [options]="option"></ng-lottie>
    </div>

    <p class="m-0 p-0 reset mt-3">Reset Password</p>
    <b *ngIf="email()">{{ email() }}</b>
    <p class="m-0 mt-2 p-0 reset-desc">
      You’re almost there! Please enter your new password below to complete the
      process.
    </p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="mt-3">
      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
        />
        <div
          *ngIf="
            getControl('password')?.touched && getControl('password')?.invalid
          "
        >
          @if(getControl('password')?.errors?.['required']) {
          <small class="text-danger"> Password is required</small>
          } @if(getControl('password')?.errors?.['minlength']) {
          <small class="text-danger"
            >Password must be at least 6 characters</small
          >
          } @if(getControl('password')?.errors?.['maxlength']) {
          <small class="text-danger"
            >Password must be at most 25 characters</small
          >
          }
        </div>
      </div>

      <div class="form-group mt-2">
        <label for="confirmPassword">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="confirmPassword"
        />
        <div
          *ngIf="
            resetPasswordForm.invalid && getControl('confirmPassword')?.touched
          "
        >
          @if(resetPasswordForm.errors?.['passwordsNotMatch']) {
          <small class="text-danger">
            Confirm password does not match password</small
          >
          }
        </div>
      </div>

      <button
        type="submit"
        class="btn w-100 mt-3"
        [disabled]="resetPasswordForm.invalid || isLoading()"
      >
        @if (isLoading()) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        } @else { Reset }
      </button>
    </form>
  </div>
</div>
