@import "../../../../../variables.scss";
.back {
  cursor: pointer;
}

.reset {
  font-size: 30px;
  font-weight: bold;
}

.reset-desc {
  font-size: 16px;
  color: $color-grey;
}

label {
  font-size: 12px;
}

button,
#password,
#confirmPassword {
  height: 50px;
}

button {
  background-color: $primary-color-black;
  color: white;
  &:hover {
    transition: all 0.3s;
    background-color: $primary-color-black-200;
    color: white;
  }
  &:focus {
    transition: all 0.3s;
    background-color: $primary-color-black;
    color: white;
  }
  &:active {
    transition: all 0.3s;
    background-color: $primary-color-black;
    color: white;
  }
  &:disabled {
    transition: all 0.3s;
    background-color: $primary-color-black-200;
    color: white;
  }
}

input {
  border: 1px solid $primary-color-black;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  &:focus {
    border: 1px solid $primary-color-black;
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: 567px) {
  .reset {
    font-size: 25px;
  }
  button,
  #password,
  #confirmPassword {
    height: 40px;
  }
  .reset-desc {
    font-size: 14px;
  }
  b {
    font-size: 14px;
  }
}
