<div
  class="container d-flex justify-content-center align-items-start flex-column"
>
  <div class="d-flex justify-content-center w-100 my-5 py-5">
    <ng-lottie [options]="option" width="100%"></ng-lottie>
  </div>
  <p>Something went wrong</p>
  <p>
    Sorry, the link has expired or there is a problem with it It looks like
    you're a little late.
  </p>

  <button [routerLink]="['../login']" class="btn btn-dark">
    Go Back Login Page
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>
