<div class="parent row px-5 py-md-0 pb-5">
  <div
    class="order-2 order-md-1 col-md-6 col-12 p-0 mt-md-0 mt-4 d-flex justify-content-center align-items-md-start align-items-center flex-column"
  >
    <p class="text-uppercase p0 m-0">Classic Exclusive</p>
    <h1 class="my-2">Women's Collection</h1>
    <p>Up To 40% Off</p>
    <button class="btn btn-dark">
      Shop Now <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
  <div
    class="order-1 order-md-2 col-12 col-md-6 p-0 d-flex align-items-md-end align-items-center"
  >
    <img src="./assets/Images/women-home.png" alt="Women" width="100%" />
  </div>
</div>
