$primary-color-black: #131118;
$primary-color-black-100: #2c2a30;
$primary-color-black-200: #454348;
$primary-color-black-300: #5e5c60;
$primary-color-black-400: #777578;
$primary-color-black-500: #8f8d90;
$primary-color-black-600: #a7a7a8;
$color-grey: #a4a1aa;
