@import "../../../../../variables.scss";
.welcome,
.please {
  text-align: start;
  width: 70%;
  margin: 0 auto;
}
.welcome {
  font-size: 30px;
  font-weight: bold;
}
.please {
  color: $color-grey;
  margin-bottom: 30px !important;
}

label {
  font-size: 12px;
}

.remember,
.forget {
  font-size: 16px;
  cursor: pointer;
}

button,
#password,
#email {
  height: 50px;
}

button {
  background-color: $primary-color-black;
  color: white;
  &:hover {
    transition: all 0.3s;
    background-color: $primary-color-black-200;
    color: white;
  }
  &:focus {
    transition: all 0.3s;
    background-color: $primary-color-black;
    color: white;
  }
  &:active {
    transition: all 0.3s;
    background-color: $primary-color-black;
    color: white;
  }
  &:disabled {
    transition: all 0.3s;
    background-color: $primary-color-black-200;
    color: white;
  }
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

input {
  border: 1px solid $primary-color-black;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  &:focus {
    border: 1px solid $primary-color-black;
    outline: none;
    box-shadow: none;
  }
}
@media (max-width: 567px) {
  button,
  #password,
  #email {
    height: 40px;
  }
}
